@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&display=swap');

nav {
    background-color: transparent !important;
}

body {
    font-family: 'Assistant', sans-serif;
}

html {    
    background: url('https://i.pinimg.com/originals/df/4e/8b/df4e8ba28f912bf9cdf9fa0dfc196411.png') no-repeat center fixed;     
    background-size: cover;
}

.has-shadow {
    text-shadow: 0px 0px 5px #000000;
}

a img {
    margin-top: 8px;
    margin-left: 15px;
}

.navbar-item {
    margin-right: 10px;
}

.container {
    margin-top: 20px;
}

.guess-container {
    width: 75%;
}

.card {
    border-radius: 10%;
    width: 50%;
    text-align: center;
    margin-bottom: 15px;
    border: 2px solid #000000;
}

#guessCard {
    float: right;
}

#loginCard {
    width: 30%;
}

.loginWrapper {
    margin: auto;
    width: 80%;
}

#infoCard {
    border-radius: 20%;
}

#buttonCard {
    width: 100%;
}

#scoreCard {
    width: 100%;
}

.button {
    font-family: 'Assistant', sans-serif;
}

#skipButton {
    margin-top: 10px;
}

#guessButton {
    margin-top: 10px;
}

.silhouette {
    filter: contrast(0) sepia(25%) hue-rotate(195deg) saturate(2000%) brightness(100%);
    opacity: 1;
}

span img {
    vertical-align: middle;
    width: 25px;
}

.loginText {
    padding-left: 10px;
}


