@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&display=swap');

nav {
    background-color: #ffcb05 !important;
}

body {
    font-family: 'Assistant', sans-serif;
}

a img {
    margin-top: 8px;
    margin-left: 15px;
}

.navbar-item {
    margin-right: 10px;
}

.container {
    margin-top: 20px;
}

.guess-container {
    width: 75%;
}

.card {
    border-radius: 10%;
    width: 50%;
    text-align: center;
    margin-bottom: 15px;
    border: 1px solid #ffcb05;
}

#guessCard {
    border: 1px solid #7a7dd1;
    float: right;
}

#infoCard {
    border: 2px solid #ffcb05;
    border-radius: 20%;
}

#buttonCard {
    width: 100%;
}

#scoreCard {
    width: 100%;
}

.button {
    font-family: 'Assistant', sans-serif;
    margin-top: 10px;
}

.silhouette {
    filter: contrast(0) sepia(10%) hue-rotate(200deg) saturate(2000%) brightness(100%);
    opacity: 1;
}

